/*---------------------
     VARIABLES
----------------------*/

/* Color Variables */

/*$color-theme: #ff5e14;*/
$color-theme: #FF0000;
$color-accent: #FF6F00;
$color-body: #9b9b9b;
$color-white: #ffffff;
$color-black: #000000;
$color-heading: #222222;
$color-dark: #282828;
$color-gray: #f9f9f9;
$color-success: #46b52a;

/* Font Variables */

$font-heading: 'Poppins', sans-serif,
sans-serif;
$font-body: 'Poppins', sans-serif,
sans-serif;

$body-font-size: 15px;

// BLUE : #0e7aa4
// YELLOW : #ce9b4a